html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.gradient {
  background: rgb(0, 97, 242);
  background: linear-gradient(
    135deg,
    rgba(0, 97, 242, 1) 0%,
    rgba(105, 0, 199, 1) 100%
  );
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.companies,
.icons {
  margin-bottom: 2rem;
}
